{{ define "main" }}
<div class="p-3 md:w-9/12 lg:w-7/12 mx-auto">
	<div class="my-3 lg:text-lg lg:my-5">
		<p>
			{{ .Content }}
		</p>
	</div>
	<!-- <div class="md:grid md:grid-cols-2 mx-auto w-max md:gap-2">	 -->
	<div class="flex flex-col gap-2">
	  {{ range .Pages }}
		<a href={{ .RelPermalink }} class="block p-3 rounded bg-black text-white" >
			<div>
				<div class="">
					<div class="font-bold text-lg">{{ .Title }}</div>
					<small>Last Updated: {{ .Date | time.Format ":date_medium" }}</small>
				</div>
				<div class="">{{ .Summary }}</div>
			</div>
		</a>
	  {{ end }}
	</div>
</div>
{{ end }}
