{{ define "main" }}
<div class="">
	<div class="bg-slate-300">
		<h1>{{ .Title }}</h1>
			{{ .Content }}		
	</div>
	<div class="my-5 md:grid md:grid-cols-2 mx-auto w-max md:gap-2">	
	  {{ range .Pages }}
		<a href={{ .RelPermalink }} class="block p-6 max-w-sm rounded border bg-black text-white shadow hover:shadow-lg hover:scale-95 duration-200" >
			<div>
				<div class="flex justify-between">
					<div class="font-bold text-lg">{{ .Title }}</div>
					<small>Last Updated: {{ .Date | time.Format ":date_medium" }}</small>
					<div class=" text-xs bg-baby-bird text-white h-min max-w-fit px-3 py-1 rounded">{{ .Params.Language }}</div>
				</div>
				<div class="my-2">{{ .Summary }}</div>
			</div>
		</a>
	  {{ end }}
	</div>
</div>
{{ end }}
